body {
    margin: 0;
    padding: 0;
    background: #D8D8D8;
}
.comp-div {
    position: relative;
    width: 70%;
    margin: 30px auto;
    padding: 10px;
    top: 250px;
    text-align: center;
}
