.react-md {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}
.react-md::after {
    clear: both;
    overflow: hidden;
}
.md-div {
    position: relative;
    width: 45%;
}
.editor {
    float: left;
}
.show {
    float: right;
}
.title {
    color: #666666;
    letter-spacing: 3px;
}
.md-css {
    position: relative;
    width: 100%;
    height: 200px;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
    font-size: 15px;
}
.md-content {
    text-align: left;
}
